<ul class="nav nav-pills" role="tablist">
<div class="row">
    <div class="col-xs-4">
        <li role="presentation" class="btn-danger" routerLink="/">Quit</li>
    </div>
    <div class="col-xs-4">
        <!--<li role="presentation" class="btn-info"><a href="#">Best  <span class="badge">42</span></a></li>-->
    </div>
    <div class="col-xs-4">
        <li role="presentation" class="btn-success"><a href="#">Attempts <span class="badge">{{attempt}}</span></a></li>
    </div>
</div>
</ul>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center game-body">

      <!-- <input type="text" class="form-control" placeholder="Guess your number" [(ngModel)]="guessNumber"> -->
        <!-- this input uses the two way data binding method-->
      <input type="text" class="form-control" placeholder="Guess your number" #guessNumber>
        <!-- this input uses the local reference method to pass data to the component class-->
      <button class="btn btn-success btn-lg" (click)="guessCheck(guessNumber)">Check this</button>
        <p>{{hint}}</p>
      <!--<p *ngIf="guessNumber === target" > {{ hint }} </p>-->
    </div>
    <p>{{target}}</p>
  </div>
</div>
